---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import HistoryIllustrationImage from "@/images/history-illustration.jpeg";
import { Image } from "astro:assets";

const lang = getLangFromUrl(Astro.url);
const translationContent = useTranslations(lang);
const { title, valuesTitle, historyText, valuesText } =
  translationContent.aboutUs;
---

<section id="history" class="w-full min-h-d-screen p-4 md:pl-20 md:py-20">
  <div
    class="border-l-[3px] border-delfim-primary grid md:grid-cols-section-page-columns gap-10"
  >
    <article class="md:pt-4 pl-4 flex flex-col gap-6 w-full">
      <div class="flex flex-col gap-2">
        <h5 class="uppercase text-4xl font-title">{title}</h5>

        <div class="flex flex-col gap-2 md:gap-0">
          {
            historyText.map((text) => (
              <p class="text-base sm:text-lg">{text}</p>
            ))
          }
        </div>
      </div>

      <div class="flex flex-col">
        <h6 class="uppercase text-lg font-bold">{valuesTitle}</h6>
        <div class="flex flex-col gap-2 md:gap-0">
          {valuesText.map((text) => <p class="text-base sm:text-lg">{text}</p>)}
        </div>
      </div>
    </article>

    <div class="hidden sm:block">
      <Image
        class="hidden sm:block w-full h-full"
        alt="Ilustração da História de Delfim Maia"
        src={HistoryIllustrationImage}
      />
    </div>
  </div>
</section>
