---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import HistoryIllustrationImage from "@/images/history-illustration.jpeg";
import { Image } from "astro:assets";

const lang = getLangFromUrl(Astro.url);
const translationContent = useTranslations(lang);
const {
  title,
  valuesTitle,
  historyText,
  valuesText,
  activityTitle,
  activityText,
} = translationContent.aboutUs;
---

<section id="history" class="w-full p-4 lg:pl-20 lg:pr-0 lg:py-20">
  <div
    class="border-l-[3px] border-delfim-primary flex flex-col sm:flex-row gap-2 sm:gap-6"
  >
    <article
      class="md:pt-4 pl-4 flex justify-around flex-col gap-4 w-full lg:w-[75%]"
    >
      <div class="flex flex-col gap-1 2xl:gap-2">
        <h5 class="uppercase text-4xl font-title">{title}</h5>

        <div class="flex flex-col gap-1 2xl:gap-2">
          {
            historyText.map((text) => (
              <p class="text-base 2xl:text-lg">{text}</p>
            ))
          }
        </div>
      </div>

      <div class="flex flex-col gap-1 2xl:gap-2">
        <h6 class="uppercase text-lg font-bold">{valuesTitle}</h6>
        <div class="flex flex-col gap-1 2xl:gap-2">
          {
            valuesText.map((text) => (
              <p class="text-base 2xl:text-lg">{text}</p>
            ))
          }
        </div>
      </div>

      <div class="flex flex-col gap-1 2xl:gap-2">
        <h6 class="uppercase text-lg font-bold">{activityTitle}</h6>
        <div class="flex flex-col gap-1 2xl:gap-2">
          {
            activityText.map((text) => (
              <p class="text-base 2xl:text-lg">{text}</p>
            ))
          }
        </div>
      </div>
    </article>

    <div class="hidden lg:block lg:w-[25%]">
      <Image
        loading="lazy"
        class="hidden lg:block h-full w-full object-cover"
        alt="Ilustração da História de Delfim Maia"
        src={HistoryIllustrationImage}
      />
    </div>
  </div>
</section>
