---
import "@/styles/globals.css";
import type { TeamMember } from "@/components/TeamMember.ts";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import { delay } from "@/utils/utils";
import { TEAM_MEMBER_BACKGROUNDS_COLORS } from "@/components/data";
import { cn } from "@/lib/utils";

export async function getStaticPaths() {
  const builderAPIpublicKey = import.meta.env.BUILDER_API_PUBLIC_KEY;

  const isProduction = import.meta.env.PROD;

  if (isProduction) {
    // Force the delay of request to CMS to wait 30 seconds because CMS takes some seconds to refresh data.
    await delay(30000);
  }

  const { results } = await fetch(
    `https://cdn.builder.io/api/v3/content/team-members?apiKey=${builderAPIpublicKey}`,
  ).then((res) => res.json());

  const dataTeamMembers: TeamMember[] = results[0].data.teamMembers;

  const paths = dataTeamMembers.map((teamMember, index) => {
    return {
      params: { member: teamMember.teamMemberId },
      props: { teamMember, teamMemberIndex: index },
    };
  });

  return paths;
}

const teamMemberIndex: number = Astro.props.teamMemberIndex;
const teamMember: TeamMember = Astro.props.teamMember;
const { name, email, image, rolePt, cpPt, formationsPt, preferencesAreaPt } =
  teamMember;

const { imageBackground } =
  TEAM_MEMBER_BACKGROUNDS_COLORS[
    teamMemberIndex % TEAM_MEMBER_BACKGROUNDS_COLORS.length
  ];
---

<Layout revealNavbarOnScroll={false}>
  <main class="h-full flex flex-col gap-4 mt-[5.875rem]">
    <section
      class="relative w-full grid grid-cols-1 sm:grid-cols-[22.5rem_1fr] min-h-[calc(100vh-9.375rem)]"
    >
      <div class={cn("flex items-end justify-center", imageBackground)}>
        <Image
          width={300}
          height={450}
          alt=""
          class="h-auto w-full"
          src={image}
        />
      </div>
      <div class="p-2 bg-white sm:bg-transparent sm:p-0 h-full relative">
        <div
          class="rounded-md bg-white h-full p-2 sm:p-4 flex flex-col gap-6 sm:gap-14"
        >
          <h6 class="text-xl capitalize font-bold">
            {name}
          </h6>
          <a target="_blank" href=`mailto:${email}`>
            <p class="text-lg">
              <b>Email: {" "}</b>
              <span class="underline"> {email}</span>
            </p>
          </a>
          {
            cpPt ? (
              <p class="text-lg capitalize">
                <b>Cédula: </b> {cpPt}
              </p>
            ) : null
          }
          {
            formationsPt && formationsPt.length > 0 ? (
              <div class="flex flex-col gap-2 capitalize">
                <p class="text-lg">
                  <b>Formação: </b>
                </p>
                <ul class="flex flex-col gap-2 px-8">
                  {formationsPt?.map((formation) => (
                    <li class="text-base list-disc">
                      {formation.formationPtItem}
                    </li>
                  ))}
                </ul>
              </div>
            ) : null
          }
          {
            preferencesAreaPt && preferencesAreaPt.length > 0 ? (
              <div class="flex flex-col gap-2 capitalize">
                <p class="text-lg">
                  <b>Áreas preferenciais: </b>
                </p>
                <ul class="flex flex-col gap-2 px-8">
                  {preferencesAreaPt?.map((preferenceArea) => (
                    <li class="text-base list-disc">
                      {preferenceArea.preferenceaAreaItemPt}
                    </li>
                  ))}
                </ul>
              </div>
            ) : null
          }

          <a
            class="inline-flex sm:absolute sm:right-4 sm:bottom-4 items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-fit mx-auto bg-delfim-primary"
            href={`/pt#team`}
          >
            Voltar</a
          >
        </div>
      </div>
    </section>
  </main>
</Layout>
