---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { TEAM_MEMBER_BACKGROUNDS_COLORS, cn } from "@/lib/utils";
import "@/styles/globals.css";
import { Image } from "astro:assets";
import RoundedCorner from "../ui/RoundedCorner.astro";

type Props = {
  name: string;
  email: string;
  image: string;
  cp?: string;
  formations?: {
    formationItem: string;
  }[];
  preferencesArea?: {
    preferenceaAreaItem: string;
  }[];
  teamMemberIndex: number;
  role: string;
};

const {
  name,
  email,
  image,
  cp,
  formations,
  preferencesArea,
  teamMemberIndex,
  role,
} = Astro.props;

const { teamPageBackground, backButtonBackground } =
  TEAM_MEMBER_BACKGROUNDS_COLORS[
    teamMemberIndex % TEAM_MEMBER_BACKGROUNDS_COLORS.length
  ];

const activeLang = getLangFromUrl(Astro.url);
const translationContent = useTranslations(activeLang);

const {
  emailText,
  professionalLicense,
  education,
  areasOfPractice,
  goBackText,
} = translationContent.teamMemberPage;
---

<main class="min-h-d-screen bg-[#E6E7E9] relative">
  <div class="relative pt-4 px-4 md:hidden">
    <Image
      loading="lazy"
      class="h-full max-w-full mix-blend-multiply"
      width={300}
      height={650}
      alt={name}
      src={image}
      quality={100}
    />

    <div class="absolute left-1/4 right-0 bottom-0 md:hidden">
      <RoundedCorner className={cn(teamPageBackground)} />
    </div>
  </div>

  <div
    class="hidden md:block md:absolute md:right-2 lg:right-12 xl:right-[10%] 2xl:right-[15%] md:bottom-0 z-20"
  >
    <img
      class="h-auto w-auto max-h-[calc(100vh-1rem)] mix-blend-multiply"
      height={800}
      alt={name}
      src={image}
    />
  </div>

  <section
    class="relative w-full sm:w-[70%] text-balance md:px-12 lg:px-24 px-8 py-6 md:py-12 h-full"
  >
    <div class="flex flex-col gap-6">
      <h6 class="text-4xl capitalize font-bold">
        {name}
      </h6>

      <p class="text-lg font-bold">{role}</p>

      <a target="_blank" href=`mailto:${email}`>
        <p class="text-lg">
          <b>{emailText}: {" "}</b>
          <span>{email}</span>
        </p>
      </a>
      {
        cp ? (
          <p class="text-lg">
            <b>{professionalLicense}: </b> {cp}
          </p>
        ) : null
      }
      {
        formations && formations?.length > 0 ? (
          <div class="flex flex-col gap-6">
            <p class="text-lg">
              <b>{education}: </b>
            </p>
            <ul class="flex flex-col gap-1 px-8">
              {formations?.map((formation) => (
                <li class="text-base list-disc">{formation.formationItem}</li>
              ))}
            </ul>
          </div>
        ) : null
      }
      {
        preferencesArea && preferencesArea.length > 0 ? (
          <div class="flex flex-col gap-6">
            <p class="text-lg">
              <b>{areasOfPractice}: </b>
            </p>
            <ul class="flex flex-col gap-1 px-8">
              {preferencesArea?.map((preferenceArea) => (
                <li class="text-base list-disc">
                  {preferenceArea.preferenceaAreaItem}
                </li>
              ))}
            </ul>
          </div>
        ) : null
      }

      <a
        href={`/${activeLang}#team`}
        class={cn(
          "py-3 px-12 text-white w-fit rounded-3xl transition-opacity hover:opacity-80",
          backButtonBackground,
        )}
      >
        {goBackText}
      </a>
    </div>
  </section>

  <div class="hidden md:block md:left-1/4 md:right-0 md:bottom-0 md:absolute">
    <RoundedCorner className={cn(teamPageBackground)} />
  </div>
</main>
