---
import { getLangFromUrl } from "@/i18n/utils";
import { TEAM_MEMBER_BACKGROUNDS_COLORS, cn, getSizeClass } from "@/lib/utils";
import type { TeamMember } from "@/types/TeamMember";

type Props = TeamMember & {
  className?: string;
  teamMemberIndex: number;
};

const lang = getLangFromUrl(Astro.url);

const {
  teamMemberId,
  name,
  roleEn,
  rolePt,
  cardImage,
  className,
  teamMemberIndex,
  cardSize,
} = Astro.props;

const { cardBackground } =
  TEAM_MEMBER_BACKGROUNDS_COLORS[
    teamMemberIndex % TEAM_MEMBER_BACKGROUNDS_COLORS.length
  ];

const cardSizeClassname = getSizeClass(cardSize);
---

<a
  class={cn(
    "block transition-colors ease-in-out duration-300 h-[26rem] p-4 relative group",
    cardBackground,
    cardSizeClassname,
    className,
  )}
  href={`/${lang}/team/${teamMemberId}`}
>
  <div class={cn("absolute left-1 bottom-4 tracking-wider  z-30")}>
    <h6 class="text-lg font-bold group-hover:underline">
      {name}
    </h6>
    <p class="text-sm font-bold">
      {lang === "en" ? roleEn : rolePt}
    </p>
  </div>

  <div class="absolute right-1 bottom-0">
    <img
      class="max-w-full w-auto h-auto max-h-[400px]"
      width="100%"
      height={400}
      alt={name}
      src={cardImage}
    />
  </div>
</a>
