---
import { Image } from "astro:assets";
import SectionTitle from "./SectionTitle.astro";
import ExpertiseAreasIllustration from "@/assets/images/expertise-areas-illustration.webp";
import ExpertiseAreasAccordion from "./ExpertiseAreasAccordion";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { delay } from "@/utils/utils";

const lang = getLangFromUrl(Astro.url);
const translationContent = useTranslations(lang);
const { title } = translationContent.expertiseAreas;

const builderAPIpublicKey = import.meta.env.BUILDER_API_PUBLIC_KEY;
const isProduction = import.meta.env.PROD;

if (isProduction) {
  // Force the delay of request to CMS to wait 30 seconds because CMS takes some seconds to refresh data.
  await delay(30000);
}

const { results } = await fetch(
  `https://cdn.builder.io/api/v3/content/expertise-areas?apiKey=${builderAPIpublicKey}`,
)
  .then((res) => res.json())
  .catch();

const areas = results[0].data.expertiseAreas;
---

<section
  id="expertise-areas"
  class="h-fit sm:h-[120vh] relative flex flex-col gap-2 sm:gap-20"
>
  <Image
    class="absolute -z-10 inset-0 object-cover h-full w-full hidden sm:block"
    src={ExpertiseAreasIllustration}
    alt="Image do logo de Delfim Maia"
  />

  <div class={"w-full bg-delfim-primary py-1 px-8 sm:hidden"}>
    <h5 class="uppercase font-bold text-white text-4xl text-center">
      {title}
    </h5>
  </div>

  <div class={"hidden sm:flex w-fit relative top-12 text-right gap-1"}>
    <div class="bg-delfim-primary pl-20 py-2 pr-2">
      <h5 class="uppercase font-bold text-white text-4xl text-center">
        {lang === "pt" ? "Áreas" : "Areas"}
      </h5>
    </div>
    <div class="py-2">
      <h5 class="uppercase font-bold text-white text-4xl text-center">
        {lang === "pt" ? "de atuacão" : "of practice"}
      </h5>
    </div>
  </div>

  <ExpertiseAreasAccordion
    currentLanguage={lang}
    expertiseAreas={areas}
    client:load
  />
</section>
