---
import { Image } from "astro:assets";
import SectionTitle from "./SectionTitle.astro";
import ExpertiseAreasIllustration from "@/assets/images/expertise-areas-illustration.webp";
import ExpertiseAreasAccordion from "./ExpertiseAreasAccordion";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translationContent = useTranslations(lang);
const { title } = translationContent.expertiseAreas;

const builderAPIpublicKey = import.meta.env.BUILDER_API_PUBLIC_KEY;

const { results } = await fetch(
  `https://cdn.builder.io/api/v3/content/expertise-areas?apiKey=${builderAPIpublicKey}`,
)
  .then((res) => res.json())
  .catch();

const areas = results[0].data.expertiseAreas;
---

<section
  id="expertise-areas"
  class="h-fit sm:h-screen relative sm:py-12 flex flex-col gap-4"
>
  <Image
    class="absolute -z-10 inset-0 object-cover h-full w-full hidden sm:block"
    src={ExpertiseAreasIllustration}
    alt="Image do logo de Delfim Maia"
  />

  <SectionTitle>{title}</SectionTitle>

  <ExpertiseAreasAccordion
    currentLanguage={lang}
    expertiseAreas={areas}
    client:load
  />
</section>
