---
import ExpertiseAreasIllustration from "@/assets/images/expertise-areas.jpeg";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { delay } from "@/utils/utils";
import { Image } from "astro:assets";
import SectionTitle from "../ui/SectionTitle.astro";
import ExpertiseAreasAccordion from "./ExpertiseAreasAccordion";

const lang = getLangFromUrl(Astro.url);
const translationContent = useTranslations(lang);
const { title } = translationContent.expertiseAreas;

const builderAPIpublicKey = import.meta.env.BUILDER_API_PUBLIC_KEY;
const isProduction = import.meta.env.PROD;

if (isProduction) {
  // Force the delay of request to CMS to wait 30 seconds because CMS takes some seconds to refresh data.
  await delay(10000);
}

const { results } = await fetch(
  `https://cdn.builder.io/api/v3/content/expertise-areas?apiKey=${builderAPIpublicKey}`,
)
  .then((res) => res.json())
  .catch();

const areas = results[0].data.expertiseAreas;
---

<section class="pt-4 px-4 text-center md:pt-20 md:px-20 md:pb-8">
  <SectionTitle>{title}</SectionTitle>
</section>

<section
  id="expertise-areas"
  class="relative flex flex-col gap-2 sm:gap-10 min-h-screen"
>
  <Image
    class="absolute h-screen -z-10 inset-0 w-full object-cover hidden sm:block"
    src={ExpertiseAreasIllustration}
    alt="Image do logo de Delfim Maia"
  />

  <ExpertiseAreasAccordion
    currentLanguage={lang}
    expertiseAreas={areas}
    client:load
  />
</section>
